/*body{
    background: black;
}*/
header{
    font-size:large;
    text-align: center;
    font-family: "Russo One";
    border: 5px solid #334756;
    border-radius: 5px;
    letter-spacing: 5em;
    background: white;

}

#principal, #instrucciones, #cifraDescifra{
    /*font-family: "Russo One";*/
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    border-radius: 5px;
}

h1 , h2, h3{
    font-family: 'Inter', sans-serif;
    /*font-family: "Russo One";*/
}
h2{
    font-size: 50px;
}
p, ol , input{
    font-family: 'Share Tech Mono', monospace;
}


#principal{
    width: 605px;
    height: 430px;
    background: #082032;
    padding: 25px;
    margin: 10px;
    font-size: 1em;
    text-align: justify;
}
#instrucciones{
    width: 566px;
    height: 430px;
    background: #334756;
    padding: 25px;
    margin: 10px;
}
.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
}

#botonCentrar{
    margin: 40px;
    text-align: center;
}
#botonEmpezar {
    width: 226px;
    height: 52.1px;
    border-radius: 8px;
    background: #082032;
    color: #f0a500;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    /*text-align: center;
    transition: 0.6s;*/
}

#botonEmpezar:hover{
    background:darkblue;
}
#formulario{
    width: 570px;
    height: 430px;
    background: #334756;
    padding: 25px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}

#pantalla2{
    margin: 0 auto;
    width: 500px;
    font-size: 1.5em;
}

#mensajeOriginal{
    width: 520px;
    height: 70px;
    border-radius: 8px;
    background: #d3d3d3;
}

#botonCifrar{
    width: 137px;
    height: 34px;
    color: black;
    border-radius: 8px;
    background: #d3d3d3;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
}
#botonCifrar:hover{
    color: #cc0e0e;
}

#botonDescifrar{
    width: 137px;
    height: 34px;
    color: black;
    border-radius: 8px;
    background: #d3d3d3;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
}

#botonDescifrar:hover{
    color: #44cc0e;
}
#shift{
    width: 42px;
    height: 35px;
    border-radius: 8px;
    background: #d3d3d3;
    padding: 1px;
}


#limpiar{
    width: 137px;
    height: 34px;
    border-radius: 8px;
    background: #d3d3d3;
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
}
img{
    width: 250px;
    height: 90px;
}
#gif{
    text-align: center;
}
